# BEGIN nadorsport
# The directives (lines) between "BEGIN nadorsport" and "END nadorsport" are
# dynamically generated, and should only be modified via nadorsport filters.
# Any changes to the directives between these markers will be overwritten.
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# RewriteBase /
# RewriteRule ^index\.php$ - [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /index.php [L]
# </IfModule>

# END nadorsport

Options All -Indexes

RewriteEngine On 

RewriteBase /nadorsport/

RewriteRule ^([-a-zA-Z0-9]+)$ index.php?page=$1